#home {
  .container {
    width: 100%;
    padding: 40px 0 40px 0;
  }

  h1 {
    margin-top: 0;
  }
}

[data-content-type=row][data-appearance=contained] {
  box-sizing: border-box;
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 1280px;

  [data-element=inner] {
    box-sizing: border-box;
  }
}

[data-content-type=row][data-appearance=full-width]>.row-full-width-inner {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  width: 100%;
}

.pagebuilder-column {
  box-sizing: border-box;
}

[data-content-type=html] {
  word-wrap: break-word;
}

.overview-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.overview-item {
  padding: 0;
  margin: 0 0 22px;

  a {
    text-decoration: none;
    line-height: 1.4em;
    color: #000;
  }
}

.pagebuilder-slide-wrapper {
  .pagebuilder-overlay.pagebuilder-poster-overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: inherit;
  }

  .pagebuilder-poster-content {
    width: 100%;
  }

  [data-element=content] {
    min-height: 50px;
    overflow: auto;
  }
}

.cms-content-important {
  background-color: #f5f5f5;
  color: #333;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.1;
  margin: 0 0 35px -20px;
  padding: 20px;
}

.pagebuilder-slider {
  [data-content-type=slide] {
    &:nth-child(2) {
      display: none;
    }
  }
}

.pagebuilder-banner-wrapper {
  .pagebuilder-overlay.pagebuilder-poster-overlay {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .pagebuilder-poster-content {
    width: 100%;
  }

  [data-element=content] {
    min-height: 50px;
    overflow: auto;
  }
}

.pagebuilder-mobile-hidden {
  display: none;
}

a.pagebuilder-button-secondary,
button.pagebuilder-button-secondary {
  text-decoration: none;
  background: #000;
  border: none;
  text-transform: none;
  transition: ease-out .3s;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  margin: 0 10px 10px 0;
  box-sizing: border-box;
  vertical-align: middle;
  line-height: 15px;
  padding: 15px 20px;
  font-size: 15px;
  border-radius: 0;
  box-shadow: none;

  &:hover {
    text-decoration: none;

    &:after {
      display: none;
    }
  }
}

[data-content-type=ism_brandlogoslider] {
  display: flex;
  overflow: hidden;

  > div {
    width: 157px;
    margin-right: 32px;

    img {
      border-radius: 50%;
      background: #fff;
      max-width: 108px;
      margin: 0 auto;
      display: block;
    }
  }
}

@media only screen and (max-width: 767px) {
  [data-content-type=row][data-appearance=contained] {
    [data-element=inner] {
      background-attachment: scroll !important;
    }
  }

  .pagebuilder-column {
    background-attachment: scroll !important;
    flex-basis: 100%;
  }

  .pagebuilder-column-group {
    flex-wrap: wrap;
  }

  .overview-items {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0 0;
    box-sizing: border-box;

    .overview-item {
      width: 47.8%;
      border: 1px solid #e0e0e0;
      padding: 9px 5px;
      text-align: center;
      box-sizing: border-box;
      margin-bottom: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &:nth-child(2n+1) {
        margin-right: 2%;
      }

      a {
        font-size: 11px;
      }
    }
  }

  [data-content-type=ism_brandlogoslider] {
    overflow-x: auto;
    -webkit-overflow-scrolling: inherit;
  }
}
