<template>
  <div id="home">
    <div class="container pb60" v-html="cmsPageContent.content"/>
  </div>
</template>

<script>

  // Theme local components
  import { Logger } from '@vue-storefront/core/lib/logger'

  export default {
    data () {
      return {
        loading: true
      }
    },
    computed: {
      cmsPageContent() {
        return this.$store.getters[`cmsPage/findItems`]({key : 'identifier',value: 'pwa-home-page'});
      }
    },
    async beforeMount () {
      if (this.$store.state.__DEMO_MODE__) {
        const onboardingClaim = await this.$store.dispatch('claims/check', { claimCode: 'onboardingAccepted' })
        if (!onboardingClaim) { // show onboarding info
          this.$bus.$emit('modal-toggle', 'modal-onboard')
          this.$store.dispatch('claims/set', { claimCode: 'onboardingAccepted', value: true })
        }
      }
    },
    mounted () {
      if (!this.isLoggedIn && localStorage.getItem('redirect')) this.$bus.$emit('modal-show', 'modal-signup')

      const imgLazy = document.querySelectorAll('img.lazyload');
      const imgLazyArray = Array.prototype.slice.call(imgLazy);
      imgLazyArray.map(item => {
        item.src = item.dataset.src
      });
    },
    watch: {
      isLoggedIn () {
        const redirectObj = localStorage.getItem('redirect')
        if (redirectObj) this.$router.push(redirectObj)
        localStorage.removeItem('redirect')
      }
    },
    async asyncData ({ store, route, context }) { // this is for SSR purposes to prefetch data
      if (context) context.output.cacheTags.add(`home`)
      store.dispatch('cmsPage/single', { value: `pwa-home-page`, setCurrent: false, skipCache: false })
      Logger.info('Calling asyncData in Home Page (core)')()

    },
    metaInfo () {
      return {
        title: this.$route.meta.title || this.$i18n.t('Home Page'),
        meta: this.$route.meta.description ? [{ vmid: 'description', name: 'description', content: this.$route.meta.description }] : []
      }
    }
  }
</script>

<style lang="scss" scoped>
  .new-collection {
    @media (max-width: 767px) {
      padding-top: 0;
    }
  }
</style>
