// Global styles for text
body {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', serif;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 30px;
}

h2,
.h2 {
  font-size: 24px;
}

h3,
.h3 {
  font-size: 20px;
}
h4,
.h4 {
  font-size: 16px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 14px;
}
h1 {
  margin-bottom: 30px;
}
h2 {
  font-weight: 600;
  margin-top: 27.5px;
  margin-bottom: 22px;
}

h3 {
  font-weight: 600;
  margin-top: 16.5px;
  margin-bottom: 30px;
}
h4,
h5,
h6{
  font-weight: 500;
  margin-top: 22px;
  margin-bottom: 22px;
}

// Atomic styles for text
.serif {
  font-family: 'Montserrat', serif;
}
.sans-serif {
  font-family: 'Montserrat', sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.align-justify {
  text-align: justify;
}

.weight-400 {
  font-weight: 400;
}
.weight-700 {
  font-weight: 700;
}
.weight-500{
  font-weight: 500;
}
.weight-600 {
  font-weight: 600;
}

.lh15 {
  line-height: 15px;
}
.lh16 {
  line-height: 16px;
}
.lh20 {
  line-height: 20px;
}
.lh25 {
  line-height: 25px;
}
.lh27 {
  line-height: 27px;
}
.lh30 {
  line-height: 30px;
}
.lh35 {
  line-height: 35px;
}
.lh40 {
  line-height: 40px;
}

// Sizes
.fs-medium-small {
  font-size: 13px;
}
.fs-medium {
  font-size: 14px;
}
.fs-large {
  font-size: 24px;
}
.fs-big {
  font-size: 30px;
}

// @todo its not in styleguite therefore shouldn't be here, ask Karol Bzik
.fs16 {
  font-size: 16px;
}
