<template>
  <span class="tooltip relative">
    <i class="material-icons icon cl-accent">info</i>
    <div class="text absolute p20 fs-medium-small bg-cl-white cl-dim-gray">
      <slot />
    </div>
  </span>
</template>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-border: color(white);

.tooltip {
  cursor: default;

  &:hover .text {
    display: block;
  }
}

.icon {
  vertical-align: bottom;
}

.text {
  display: none;
  left: 50%;
  transform: translateX(-50%);
  bottom: 35px;
  box-sizing: border-box;
  box-shadow: 0 0 25px 1px rgba(0,0,0,.15);
  width: 200px;
  text-align: center;

  &:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border: 10px solid transparent;
    border-top: 10px solid $color-border;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
  }
}
</style>
