<template>
  <div>
    <div class="styleguide-implementation">
      <fieldset>
        <legend>Titles</legend>
        <h1>Heading title 1</h1>
        <h2>Heading title 2</h2>
        <h3>Heading title 3</h3>
        <h4>Heading title 4</h4>
        <h5>Heading title 5</h5>
        <h6>Heading title 6</h6>
      </fieldset>

      <fieldset>
        <legend>Text</legend>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et varius dolor. Donec vitae mi sit amet elit placerat convallis. Sed venenatis efficitur augue, eu facilisis purus vulputate sed. Quisque euismod pulvinar tempor. Morbi feugiat, magna id blandit accumsan, mauris sapien porttitor tortor, sit amet ultricies risus odio vel risus. Nunc rutrum nisl mauris, in pellentesque ipsum hendrerit at.
          <a href="#">Lees meer</a>
        </p>
      </fieldset>

      <fieldset>
        <legend>List</legend>
        <ul>
          <li>Pellentesque ornare sem lacinia quam venenatis vestibulum. Fusce dapibus, tellus.</li>
          <li>Cras justo odio, dapibus ac facilisis in.</li>
          <li>Pellentesque ornare sem lacinia quam venenatis vestibulum.</li>
        </ul>
        <ol>
          <li>Pellentesque ornare sem lacinia quam venenatis vestibulum. Fusce dapibus, tellus.</li>
          <li>Cras justo odio, dapibus ac facilisis in.</li>
          <li>Pellentesque ornare sem lacinia quam venenatis vestibulum.</li>
        </ol>
      </fieldset>

      <fieldset>
        <legend>Price</legend>
        <div class="h3 cl-secondary">
          <span class="h2 cl-primary weight-700 mr5">$34.00</span><br>
          <span class="price-original h2 cl-primary weight-700 mr5">$34.00</span>
          <span data-v-71c501c4="" class="h2 cl-special-price weight-500">$11.00</span>&nbsp;
        </div>
      </fieldset>

      <fieldset>
        <legend>Buttons</legend>
        <ButtonFull class="mb30">
          {{ $t('Full Button') }}
        </ButtonFull>
        <button-outline color="dark" class="mb30">
          {{ $t('Outline Button') }}
        </button-outline>
      </fieldset>

      <fieldset>
        <legend>Checkbox</legend>
        <base-checkbox
          class="mb15 ml10 lh27"
          value
          id="acceptTermsCheckbox">
          {{ $t('I agree') }}
        </base-checkbox>
      </fieldset>

      <fieldset>
        <legend>Radio button</legend>
        <base-radiobutton
          class="mb15 ml10 lh27"
          name="payment-method"
          id="acceptTermsRadio1">
          {{ $t('I agree') }}
        </base-radiobutton>
        <base-radiobutton
          class="mb15 ml10 lh27"
          name="payment-method"
          id="acceptTermsRadio2">
          {{ $t('I disagree') }}
        </base-radiobutton>
      </fieldset>
      <fieldset>
        <legend>Input fields</legend>
        <base-input
          class="mb10"
          type="email"
          name="email"
          focus
          :placeholder="$t('E-mail address *')"
        />
      </fieldset>

      <fieldset>
        <legend>Notification messages</legend>
        <div class="notifications" data-v-d2b57422=""><span data-v-d2b57422=""><div data-v-d2b57422="" class="notification mt30 border-box cl-white warning"><div data-v-d2b57422="" data-testid="notificationMessage" class="message p20 lh20">
        Are you sure you would like to remove this item from the shopping cart?
        </div> <div data-v-d2b57422="" class="actions lh20"><div data-v-d2b57422="" id="notificationAction1" data-testid="notificationAction1" class="py10 px20 pointer weight-400 action-border notification-action uppercase border-warning">
          Cancel
        </div> <div data-v-d2b57422="" id="notificationAction2" data-testid="notificationAction2" class="py10 px20 pointer weight-400 notification-action uppercase">
          OK
        </div></div></div></span></div>
        <br>
        <div class="notifications" data-v-d2b57422=""><span data-v-d2b57422=""><div data-v-d2b57422="" class="notification mt30 border-box cl-white error"><div data-v-d2b57422="" data-testid="notificationMessage" class="message p20 lh20">
        Are you sure you would like to remove this item from the shopping cart?
        </div> <div data-v-d2b57422="" class="actions lh20"><div data-v-d2b57422="" id="notificationAction1" data-testid="notificationAction1" class="py10 px20 pointer weight-400 action-border notification-action uppercase border-error">
          Cancel
        </div> <div data-v-d2b57422="" id="notificationAction2" data-testid="notificationAction2" class="py10 px20 pointer weight-400 notification-action uppercase">
          OK
        </div></div></div></span></div>
        <br>
        <div class="notifications" data-v-d2b57422=""><span data-v-d2b57422=""><div data-v-d2b57422="" class="notification mt30 border-box cl-white success"><div data-v-d2b57422="" data-testid="notificationMessage" class="message p20 lh20">
        Are you sure you would like to remove this item from the shopping cart?
        </div> <div data-v-d2b57422="" class="actions lh20"><div data-v-d2b57422="" id="notificationAction1" data-testid="notificationAction1" class="py10 px20 pointer weight-400 action-border notification-action uppercase border-success">
          Cancel
        </div> <div data-v-d2b57422="" id="notificationAction2" data-testid="notificationAction2" class="py10 px20 pointer weight-400 notification-action uppercase">
          OK
        </div></div></div></span></div>

      </fieldset>
    </div>
  </div>
</template>
<script>
import i18n from '@vue-storefront/i18n'

import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import ButtonOutline from 'theme/components/theme/ButtonOutline.vue'
import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox.vue'
import BaseRadiobutton from 'theme/components/core/blocks/Form/BaseRadiobutton.vue'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput.vue'

export default {
  components: {
    ButtonFull,
    ButtonOutline,
    BaseCheckbox,
    BaseInput,
    BaseRadiobutton
  }
}
</script>

<style lang="scss" scoped>
.price-original {
  text-decoration: line-through;
}
fieldset {
  margin-bottom: 30px;
}
</style>
