// Colors
// ======
// @LandonSchropp's approach of naming color variables.
// - http://davidwalsh.name/sass-color-variables-dont-suck
// - http://www.color-blindness.com/color-name-hue/

// General colors palette
$colors: (
  transparent: transparent,
  black: #000,
  white: #fff,
  white-smoke: #f2f2f2,
  silver: #bdbdbd,
  gainsboro: #e1e1e1,
  gray: #828282,
  dim-gray: #626262,
  eclipse: #373737,
  suva-gray: #8e8e8e,
  matterhorn: #4f4f4f,
  burnt-sienna: #eb5757,
  buccaneer: #755,
  forest-green: #308c14,
  puerto-rico: #4dba87,
  mine-shaft: #333,
  caribbean-green: #07c775,
  forget-me-not: #fef4eb,
  cosmic-latte: #E6F9F1,
  lavender-blush: #FFE9EC,
  coral-red: #ff2b44,
  lightning-yellow: #fa983a
);

// Theme generic colors
// Key: name of color
// Value: color value or map with default, hover, focus color values
$colors-theme: (
  primary: (
    default: map-get($colors, black),
    hover: lighten(map-get($colors, black), 15%)
  ),
  secondary: (
    default: map-get($colors, eclipse),
    hover: map-get($colors, dim-gray),
  ),
  cta: (
    default: map-get($colors, caribbean-green),
    hover: lighten(map-get($colors, caribbean-green), 15%)
  ),
  accent: (
    default: map-get($colors, black),
    hover: lighten(map-get($colors, black), 15%)
  ),
  tertiary: map-get($colors, silver),
  special-price: map-get($colors, coral-red),
  success: map-get($colors, caribbean-green),
  warning: map-get($colors, lightning-yellow),
  error: map-get($colors, coral-red)
);

$colors-border: (
  primary: map-get($colors, gainsboro),
  secondary: map-get($colors, silver),
);

$colors-background: (
  primary: (
    default: map-get($colors, white),
    hover: map-get($colors, silver)
  ),
  secondary: (
    default: map-get($colors, white-smoke),
    hover: map-get($colors, gainsboro)
  ),
  tertiary: map-get($colors, suva-gray)
);
